body {
    margin: 200px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.avatar {
    width: 150px;
    border-radius: 10px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 18px;
    background: #F7D4EC;
    color: #341509;
    border-bottom: 5px groove #AE0D7A;
    border-radius: 10px;
    box-shadow: 1px 1px;
}